.del-btn {
    cursor: pointer;
    position: absolute;
    top: 4px;
    right: 4px;
    padding: 4px;
    background-color: white;
    border-radius: 100px;
    box-shadow: -1px 3px 5px gray;
    visibility: hidden;
    opacity: 0;
    transition: all 200ms;
}

.del-btn:hover {
    opacity: 1;
    background-color: rgb(255, 255, 255);
    color: red;
    box-shadow: -1px 3px 5px red;
    transform: scale(1.2);
}

.slide-img-container:hover .del-btn {
    visibility: visible;
    opacity: 1;
}